<!-- Card Component -->
<div class="card {{cardClass}}">
    {{#if hasHeader}}
    <div class="card-header">
        {{#if cardIcon}}
        <span class="card-icon">{{cardIcon}}</span>
        {{/if}}
        <div>
            <h2 class="card-title">{{cardTitle}}</h2>
            {{#if cardDescription}}
            <p class="section-description">{{cardDescription}}</p>
            {{/if}}
        </div>
    </div>
    {{/if}}
    <div class="card-content">
        {{cardContent}}
    </div>
</div>